<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Basic Demographics</title>
		<link rel="stylesheet" type=text/css href="{{ url_for('static',filename='styles/default.css') }}">
	</head>
	<body>
	  <div id="header-wrapper">
	    <div id="header" class="container">
	    </div>
	    photo credit: <a href="http://www.flickr.com/photos/36604011@N08/9410440991">Citi bike</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-nd/2.0/">(license)</a>
	  </div>
	  <div id="wrapper">
	    <div id="page" class="conainter">
	      <div id="content">
		<div class="title">
		  <h2>Basic Demographics</h2>
		  <span class="byline">This page displays some basic information about bike riders and the bikes.</span>
		</div>
	      </div>
	    </div>
	    <h3>Number of rides in each month separated by gender (unknown for unregistered users).</h3>
	    <img src="static/rideCountByGender.jpg"/>
	    <br></br>
	    <h3>Age distribution of male and female riders.</h3>
	    <img src="static/travelMaps/my_gif_ageDist.GIF"/>
	  </div>
	</body>
</html>
