<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Predict the number of riders</title>
		<link rel="stylesheet" type=text/css href="{{ url_for('static',filename='styles/default.css') }}">
	</head>
	<body>
	  <div id="header-wrapper">
	    <div id="header" class="container">
	    </div>
	    photo credit: <a href="http://www.flickr.com/photos/36604011@N08/9410440991">Citi bike</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-nd/2.0/">(license)</a>
	  </div>
	  <div id="wrapper">
	    <div id="page" class="conainter">
	      <div id="content">
		<div class="title">
		  <h2>Predict the number of riders</h2>
		  <span class="byline">Using a random forest regressor and some user input features, we can predict the number of riders in a given day in some neighborhood</span>
		</div>
		<p>
		  <h2> Neighborhood divisions </h2>
		  <img src="static/neighborhoods.jpg" width="100%"/>
		</p>
	      </div>
	      <div id="sidebar">
		<form action="predictionForm.html" method="post">
		  <h2>Neighborhood</h2>
		  <select name="neighborhood">
		    <option value="0">Upper West Side</option>
		    <option value="1">Upper East Side</option>
		    <option value="2">Midtown</option>
		    <option value="3">Lower Side</option>
		    <option value="4">Governers Island</option>
		    <option value="5">Other</option>
		  </select>
		  <br></br>
		  <h2>Day of the Week</h2>
		  <select name="dayofweek">
		    <option value="0">Monday</option>
		    <option value="1">Tuesday</option>
		    <option value="2">Wednesday</option>
		    <option value="3">Thursday</option>
		    <option value="4">Friday</option>
		    <option value="5">Saturday</option>
		    <option value="6">Sunday</option>
		  </select>
		  <br></br>
		  <h2>Temperature (Celcius)</h2>
		  <input type="text" name="temperature" value="20."><br>
		  <br></br>
		  <h2>Rain (mm)</h2>
		  <input type="text" name="rain" value="0">
		  <br></br>
		  <h2>Snow (mm)</h2>
		  <input type="text" name="snow" value="0">
		  <br></br>
		  <input type="submit" class="button" value="Submit">
		</form>
		<form id='userinfoform' action='modelDetails.html' method='get'> 
		  <p> 
		    <input type='submit' class="button" name='modelDetails' value='Model Details' /> 
		  </p>
		</form>
	      </div>
	    </div>
	  </div>
	</body>
</html>
