<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Top Paths Traveled</title>
		<link rel="stylesheet" type=text/css href="{{ url_for('static',filename='styles/default.css') }}">
	</head>
	<body>
		<div id="header-wrapper">
		  <div id="header" class="container">
		  </div>
		  photo credit: <a href="http://www.flickr.com/photos/36604011@N08/9410440991">Citi bike</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-nd/2.0/">(license)</a>
		</div>
		<div id="wrapper">
		  <div id="page" class="conainter">
		    <div id="content">
		      <div class="title">
			<h2>Top Paths Traveled</h2>
			<span class="byline">Maps for each month of the location(s) of the top 10 paths.  Each path (start and end station from a single trip) is represented as its own color.</span>
		      </div>
		    </div>
		  </div>
		</div>
		<p>
		  <h2>Movie of travel rates in each month</h2>
		  <img src="static/travelMaps/my_gif_mostUsedPaths.GIF"/><br></br>
		</p>
		<form id='userinfoform' action='topPlaces_extended.html' method='post'>
		  <p>
		    <input type='submit' class="button" name='topPlaces_extended' value='List of Plots' />
		  </p>
	</body>
</html>
