<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Travel Times</title>
		<link rel="stylesheet" type=text/css href="{{ url_for('static',filename='styles/default.css') }}">
	</head>
	<body>
	  <div id="header-wrapper">
	    <div id="header" class="container">
	    </div>
	    photo credit: <a href="http://www.flickr.com/photos/36604011@N08/9410440991">Citi bike</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-nd/2.0/">(license)</a>
	  </div>
	  <div id="wrapper">
	    <div id="page" class="conainter">
	      <div id="content">
		<div class="title">
		  <h2>Travel Times</h2>
		  <span class="byline">Plots showing the number of rides per day as a function of the trip start hour for each month.  Weekday and weekend data is displayed separately.</span>
		</div>
	      </div>
	    </div>
	    <p>
	      <h2>Movie of travel rates in each month</h2>
	      <img src="static/travelMaps/my_gif.GIF"/><br></br>
	    </p>
	    <form id='userinfoform' action='travelTimes_extended.html' method='post'>
	      <p>
		<input type='submit' class="button" name='travelTimes_extended' value='List of Plots' />
	      </p>
	</body>
</html>
