<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Travel Times</title>
		<link rel="stylesheet" type=text/css href='{{ url_for('static',filename='style.css') }}'>
	</head>
	<body>
		<div class=page>
  		  <h1>Travel Times</h1>
		 
		  <div class=metanav>
		    <h2>Plots showing the number of rides per day as a function of the trip start hour for each month.</h2>
		    <h2>Weekday and weekend data is displayed separately.</h2>
		  </div>
		</div>
		<br>Movie of travel rates in each month</br>
		<img src="static/travelMaps/my_gif.GIF"/><br></br>

		<form id='userinfoform' action='travelTimes_extended.html' method='post'>
		  <p>
		    <input type='submit' name='travelTimes_extended' value='List of Plots' />
		  </p>
	</body>
</html>
